@{
    ViewBag.Title = "Frequently Asked Questions";
}
<h1>@ViewBag.Title</h1>

<div id="questions">
    <ul>
        <li><a href="#allowable">What expenses can I claim?</a></li>
        <ul>
            <li><a href="#mileage">Mileage</a></li>
            <li><a href="#perdiem">Per diems</a></li>
            <li><a href="#receipts">Other expenses</a></li>
        </ul>
        <li><a href="#deadline">When should I submit my claim?</a></li>
        <li><a href="#approval">What happens after I submit a claim?</a></li>
        <li><a href="#payment">When will I be reimbursed?</a></li>
        <li><a href="#rechargeable">Which expenses are rechargeable to the customer?</a></li>
        <li><a href="#how_to_cc">How can I book a flight or hotel room?</a></li>
    </ul>
</div>

<hr>
<div>
    <div>
        <h3><a class="anchor" id="allowable">What expenses can I claim?</a></h3>
        <p>It is company policy to reimburse employees for legitimate expenses incurred in the performance of their duties. <span class="emphasis">The employee must produce valid receipts</span> for these expenses; otherwise the company will be obliged to deduct tax from the reimbursement at the employee’s marginal rate of tax. Where an employee’s actual subsistence expenses are reimbursed free of tax by an employer, the question of an income tax claim by the employee in respect of those expenses does not arise. For more information, see Version 1's expenses policies for <a href="https://version1.sharepoint.com/myv1/MyV1Life/Pages/ExpensesIreland.aspx">Ireland</a> and <a href="https://version1.sharepoint.com/myv1/MyV1Life/Pages/ExpensesUK.aspx">the UK</a>.</p>
        <div>
            <h4><a class="anchor" id="#mileage">Mileage</a></h4>
            <p>It is suggested that employees use public transport for travel. However, where employees use their private cars or motorcycles for business purposes, and the employees incur the total cost of such usage (e.g. insurance, tax, running costs, etc.), then the reimbursement in respect of the cost of business use can be made free of tax by the employer by reference to a flat rate of <span class="emphasis">40 cent per km</span> which will drop to <span class="emphasis">28 cent per km</span> for any claims in excess of 6,438km in the year.</p>
            <p>When recharging customers for mileage, the rate needs to be agreed in advance with the customer.</p>
            <p><a href="/mileage.html">Click here</a> to submit a mileage claim.</p>
        </div>
        <div>
            <h4><a class="anchor" id="perdiem">Per diems</a></h4>
            <p>Per diem payments may be made only in respect of the reimbursement of allowable subsistence expenses where the employee is working abroad on a foreign assignment. "Working abroad on foreign assignment" means that the employee is actually performing the duties of the employment abroad for a temporary period. Where actual vouched expenses exceed the flat rate allowances, vouched expenses may be used instead of flat rate allowances.</p>
            <ul>
                <li><span class="emphasis">Ireland to the UK:</span> £39 per day for food and subsistence (excluding accommodation, travel, taxi etc.)</li>
                <li><span class="emphasis">Travel within Ireland:</span> There is no per diem for travel within Ireland so vouched expense claims need to be submitted.</li>
            </ul>
            <p>For foreign assignments longer than one month, see </p>
            <p><a href="/perdiem.html">Click here</a> to submit a per diem claim.</p>
        </div>
        <div>
            <h4><a class="anchor" id="#receipts">Other expenses</a></h4>
            <p>All other expenses must be accompanied by a valid receipt. You can submit a claim with a receipt <a href="/perdiem.html">here</a>.</p>
        </div>
    </div>
    <div>
        <h3><a class="anchor" id="deadline">When should I submit my claim?</a></h3>
        <p>All expense claim forms need to be approved by your manager by <span class="emphasis">close of business on the 20th of the month</span> to receive payment by the end of that month. All claims submitted after this date will go into the following payment run.</p>
    </div>
    <div>
        <h3><a class="anchor" id="approval">What happens after I submit a claim?</a></h3>
        <p>When you submit a claim, it goes to a manager for approval. The people responsible for approving expenses are as follows:</p>
        <ul>
            <li><span class="emphasis">Business Support:</span> Head of department</li>
            <li><span class="emphasis">Sales, Advisory Services, Client Executive:</span> Head of department</li>
            <li><span class="emphasis">BAS:</span> Portfolio Directors</li>
            <li><span class="emphasis">MSP:</span> Team leads for DBS, Application services, Infrastructure etc.</li>
        </ul>
        <p>You can track each claim's approval status <a href="/my_history.html">here</a>.</p>
    </div>
    <div>
        <h3><a class="anchor" id="payment">When will I be reimbursed?</a></h3>
        <p>Money for expenses will be paid out to your bank account on the second last day of the month. Expense payments are not part of payroll but,  if you are part of the salaried staff, money will go to the same bank account as your salary.</p>
    </div>
    <div>
        <h3><a class="anchor" id="rechargeable">Which expenses are rechargeable to the customer?</a></h3>
        <p>The expenses that are rechargeable vary from one project to another. If in doubt, check with the relevant manager before submitting your claim.</p>
    </div>
    <div>
        <h3><a class="anchor" id="how_to_cc">How can I book a flight or hotel room?</a></h3>
        <p>Flights and hotels can be booked using the company credit card. Once the purchase has been approved by the relevant manager, it will be booked by the reception team.</p>
        <p>You can submit a request <a href="/CC_request.html">here</a>. Flight dates should be provided well in advance of travel to avoid high charges; any flights booked within two weeks of the travel date need to be approved by the finance team. Hotel bookings must be a week in advance to avail of corporate rates.</p> 
        <p>You can track the status of your request <a href="/my_CChistory.html">here</a> or contact <a href="mailto:reception@version1.com" target="_top">reception@version1.com</a>.</p>
    </div>
</div>
